<h1>Show all List</h1>
<% @lists.each do |list| %>
    <li>
<%= link_to list.title, list_path(list) %> - 
user:<%= list.user.username %> 
    </li>
   <% end %>
  
    
    
   <%= link_to "back", lists_path(@list) %>